.Cards{
    display: flex;
    padding: 20px;
    gap: 20px;
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
}
.ContainerCard{
    margin-top: 50px;
    margin-bottom: 50px;
}

.texto{
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.font-bold{
    font-weight: bold;
}