:root{
    --primary: #933d3d;
    --secondary: #333;
    --bg: #f9f9f9;
    --text: #222;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
  overflow-x: hidden;
}


h1{
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: var(--primary);
}

br{
    margin-bottom: 20px;
    background-color: white;
}

.projects .circulo {
  position: absolute;
  top: -80px;     /* pegado al borde superior */
  left: 20px;
  width: 280px;
  height: 280px;
  z-index: -1;
}

.projects .circulo2 {
  position: absolute;
  bottom: -100px; /* pegado al borde inferior */
  right: 30px;
  width: 350px;
  height: 350px;
  z-index: -1;
}

.projects .circulo3 {
  position: absolute;
  top: 50%;       /* en el centro */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  z-index: -1;
}

.projects .circulo4 {
  position: absolute;
  top: 100px;     /* pegado al lateral */
  right: -80px;
  width: 150px;
  height: 150px;
  z-index: -1;
}

.projects .circulo11 {
  position: absolute;
  bottom: -520px;   /* más abajo */
  left: 40px;
  width: 280px;
  height: 280px;
  z-index: -1;
}

.projects .circulo12 {
  position: absolute;
  bottom: -900px;   /* más abajo todavía */
  right: 60px;
  width: 350px;
  height: 350px;
  z-index: -1;
}

.projects .circulo13 {
  position: absolute;
  bottom: -1500px;   /* centrado pero muy abajo */
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  height: 220px;
  z-index: -1;
}

.projects .circulo14 {
  position: absolute;
  bottom: -1600px;   /* al lateral derecho y muy abajo */
  right: -100px;
  width: 180px;
  height: 180px;
  z-index: -1;
}


